Lab 4/complaint_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Complaints">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeId" type="xs:string"/>
        <xs:element name="FullName" type="xs:string"/>
        <xs:element name="PhoneNumber" type="xs:integer"/>
        <xs:element name="Email" type="xs:string"/>
        <xs:element name="ComplaintType" type="xs:string"/>
        <xs:element name="Description" type="xs:string"/>
        <xs:element name="Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>